body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkred;
}

p {
    font-size: 18px;
}

ul {
    background-color: white;
    padding: 20px 40px;
    width: 300px;
}

@media screen and (max-width: 600px) {
    body {
        background-color: white;
        padding: 10px;
    }

    ul {
        width: auto;
    }

    h1 {
        font-size: 24px;
    }
}