body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: bisque;
}    

form div {
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;              
}    

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;          
    border: 1px solid #ccc;
    padding: 8px;         
    box-sizing: border-box;
}